
########## PUB/SUB SETTINGS ##########
PUBSUB_PORT=<%PUBSUB_PORT%>
PUBSUB_SERVERS=<%PUBSUB_SERVERS%>
PUBSUB_MESSAGE_PREFIX=<%PUBSUB_MESSAGE_PREFIX%>

########## DB SETTINGS ##########
DB_HOST=<%DB_HOST%>
DB_PORT=<%DB_PORT%>
DB_NAME=<%DB_NAME%>
DB_TIMEOUT=<%DB_TIMEOUT%>

########## LOGGING SETTINGS ##########
LOGGING_PROTOCOL=<%LOGGING_PROTOCOL%>
LOGGING_ADDRESS=<%LOGGING_ADDRESS%>
LOGGING_PORT=<%LOGGING_PORT%>
LOGGING_TOKEN_FIELD=<%LOGGING_TOKEN_FIELD%>
LOGGING_TOKEN=<%LOGGING_TOKEN%>